<html>
    <head>  
        <title>
            <%= title %>
        </title>
    </head>
    <body>  
        <h1> Printing a list using EJS </h1>
        <h1> playground </h1>
        <ul>
            <% for(let i = 0; i < 50; i++) { %>
                
                <li>
                    <%= i %>
                </li>

            <% } %>
        </ul>
    </body>
</html>