body {
    margin: 0;
}

main {
    width: 45vw;
    height: 100vh;
    background-image: linear-gradient(70deg, #000428, #457fca);
    font-family: sans-serif;
    padding: 4rem 0px;
}

#name-container {
    width: 60%;
    text-align: center;
    margin: auto;
}
#name-div {
    display: inline-block;
    font-size: 2rem;
    color: white;
}
.container {   
    margin: auto;
    width: 67%;
    height: 10%;
    /* background-color: blue; */
    margin-top: 3rem;
}

#phone-icon-div {
    color:white;
    font-size: 1.6rem;
}

#phone-number-div {
    margin-top: 1px;
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 2rem;
    color: white;
}

#email-icon-div {
    color:white;
    font-size: 1.6rem;
}

#address-icon-div {
    color:white;
    font-size: 1.6rem;
}